@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
/* Global styles */
.window-app {
  font-family: "Crimson Text", serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.editor-content p {
  font-size: large;
}

.editor-content h1 {
  font-family: "IM Fell English SC", serif;
}

.editor-content h2 {
  font-family: "IM Fell English SC", serif;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to arrr sheets */
.arrr .item-form {
  font-family: "IM Fell English SC", serif;
}

.arrr .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 145px;
  flex: 0 0 145px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.arrr .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.arrr .sheet-header .header-separator {
  height: 10px;
}

.arrr .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.arrr .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.arrr .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.arrr nav.sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  border-top: none;
}

.arrr .sheet-body,
.arrr .sheet-body .tab,
.arrr .sheet-body .tab .editor {
  height: 80%;
}

.arrr .sheet-body {
  padding-left: 5px;
}

.arrr .background, .arrr .weaknesses {
  height: 50%;
}

.arrr .tox.tox-tinymce {
  min-height: 100%;
}

.arrr .editor {
  height: 100%;
}

.arrr .tox .tox-editor-container {
  background: #fff;
}

.arrr .tox .tox-edit-area {
  padding: 0 8px;
}

.arrr .habilitiesCol {
  padding-top: 20px;
  max-height: 240px;
}

.arrr .width70percent {
  min-width: 70%;
}

.arrr .ro-cw-90 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.arrr .vertical-separator {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  height: 250px;
  width: 10px;
}

.arrr .resource-label {
  font-family: "IM Fell English SC", serif;
  font-size: large;
}

.arrr .resources input, .arrr .ability input {
  font-family: "Crimson Text", serif;
  font-size: large;
}

.arrr .abilities {
  max-height: 90px;
}

.arrr .ability {
  height: 80px;
  text-align: center;
}

.arrr .ability-mod {
  padding-top: 6px;
  font-size: large;
}

.arrr .hability label {
  font-size: large;
}

.arrr .hability input {
  width: 50px;
}

.arrr .tabs {
  height: 40px;
  border-bottom: 1px solid #AAA;
}

.arrr .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.arrr .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.arrr .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.arrr .items-list .item-header {
  font-weight: bold;
}

.arrr .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.arrr .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.arrr .items-list .item img {
  display: block;
}

.arrr .items-list .item-name {
  margin: 0;
}

.arrr .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  text-align: right;
}
