@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

$font-primary: 'IM Fell English SC', serif;
$font-secondary: 'Crimson Text', serif;
