.window-app {
  font-family: $font-secondary;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.editor-content p {
  font-size: large;
}

.editor-content h1 {
  font-family: $font-primary;
  // font-size: xx-large;
}

.editor-content h2 {
  font-family: $font-primary;
}
