<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <div class="resources grid grid-2col">
              <!-- nombre -->
              <div class="resources">
                <!-- <label for="name" class="resource-label">Nombre</label> -->
                <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
              </div>
              {{#if (eq actor.type "character")}}
              <!-- origen -->
              <div class="resources">
                  <label for="data.origin" class="resource-label">Origen</label>
                  <input type="text" name="data.origin" value="{{data.origin}}" data-dtype="text"/>
              </div>
              {{/if}}
              {{#if (eq_or actor.type "npc" "talentNpc")}}
              <div class="flexrow">
                  <!-- health -->
                  <div class="resource flex-group-center">
                    <label for="data.health.value" class="resource-label">PV</label>
                    <div class="resource-content flexrow flex-center flex-between">
                      <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"/>
                      <span> / </span>
                      <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number"/>
                    </div>
                  </div>
                  <!-- level -->
                  <div class="resource flex-group-center">
                    <label for="data.level" class="resource-label">Nivel</label>
                    <div class="resource-content flexrow flex-center flex-between">
                      <input type="text" name="data.level.value" value="{{data.level.value}}" data-dtype="Number"/>
                    </div>
                </div>
              </div>
              {{/if}}
            </div>
            {{#if (eq actor.type "character")}}
            <div class="resources grid grid-4col">
              <!-- clase -->
              <div class="resources">
                <label for="data.class" class="resource-label">Clase</label>
                <input type="text" name="data.class" value="{{data.class}}" data-dtype="text"/>
              </div>
              <!-- dado de aguante -->
              <div class="resources">
                <label for="data.stamina" class="resource-label">Aguante</label>
                <input type="text" name="data.stamina" value="{{data.stamina}}" data-dtype="text"/>
              </div>
              <!-- level -->
              <div class="resource">
                  <label for="data.level" class="resource-label">Nivel</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.level.value" value="{{data.level.value}}" data-dtype="Number"/>
                  </div>
              </div>
              <!-- doblones -->
              <div class="resource">
                  <label for="data.doubloons" class="resource-label">Doblones</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.doubloons.value" value="{{data.doubloons.value}}" data-dtype="Number"/>
                  </div>
              </div>
            </div>
            {{/if}}
        </div>
        <img class="noborder header-separator" src="systems/arrr/images/separador2.png"></img>
    </header>

    {{#if (eq actor.type "character")}}
    <!-- atributos / abilities -->
    <div class="abilities">
      <div class="flexrow">
        {{#each data.abilities as |ability key|}}
          <div class="ability flexcol">
            <label for="data.abilities.{{key}}.value" class="resource-label resource-ability-label">{{key}}</label>
            <input type="text" name="data.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
            <span class="ability-mod rollable" data-roll="d20+@abilities.{{key}}.mod" data-label="{{key}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
          </div>
        {{/each}}
      </div>
      <img class="noborder header-separator" src="systems/arrr/images/separador2.png"></img>
    </div>

    <!-- habilidades -->
    <div class="flexrow">
      <div class="flexcol habilitiesCol">
        <label for="data.habilities.{{key}}.value" class="resource-label resource-hability-label">Habilidades</label>
        {{#each data.habilities as |hability key|}}
          <div class="hability flexrow flex-between">
            <div class="dice">
              <input type="text" name="data.habilities.{{key}}.value" value="{{numberFormat hability.value sign=true}}" data-dtype="Number"/>
              <span class="hability-mod rollable" data-roll="d20+@habilities.{{key}}.value" data-label="{{key}}">roll</span>
              <span></span>
            </div>
            <label for="data.habilities.{{key}}.value" class="resource-label resource-hability-label">{{key}}</label>
          </div>
        {{/each}}

        <br>

        {{#each data.extraAttributes as |hability key|}}
          <div class="hability flexrow flex-between">
            <div class="dice">
              <input type="text" name="data.extraAttributes.{{key}}" value="{{hability}}" data-dtype="Number"/>
              <span></span>
            </div>
            <label for="data.extraAttributes.{{key}}.value" class="resource-label resource-hability-label">{{key}}</label>
          </div>
        {{/each}}

        <br>
        <div class="flexrow">
          <div class="resource flex-group-center">
              <label for="data.health.value" class="resource-label">PV</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"/>
                <span> / </span>
                <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number"/>
              </div>
          </div>
          <div class="resource flex-group-center">
            <label for="data.power.value" class="resource-label">POD</label>
            <div class="resource-content flexrow flex-center flex-between">
              <input type="text" name="data.power.value" value="{{data.power.value}}" data-dtype="Number"/>
              <span> / </span>
              <input type="text" name="data.power.max" value="{{data.power.max}}" data-dtype="Number"/>
            </div>
          </div>
        </div>
    </div>

      <img class="noborder vertical-separator" src="systems/arrr/images/separador1.png"></img>

      <div class="width70percent">
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="talents">Talentos</a>
            <a class="item" data-tab="items">Equipo</a>
            <a class="item" data-tab="description">Descripción</a>
        </nav>

        {{!-- Sheet Body --}}
        <section class="sheet-body">
            {{!-- Description Tab --}}
            <div class="tab description" data-group="primary" data-tab="description">
              <!-- trasfondo -->
              <label for="data.background" class="resource-label">Trasfondo</label>
              <div class="background" data-group="primary" data-tab="description">
                {{editor content=data.background target="data.background" button=true owner=owner editable=editable}}
              </div>
              <!-- debilidades -->
              <label for="data.weaknesses" class="resource-label">Debilidades</label>
              <div class="weaknesses" data-group="primary" data-tab="description">
                {{editor content=data.weaknesses target="data.weaknesses" button=true owner=owner editable=editable}}
              </div>
            </div>

            {{!-- Owned Items Tab --}}
            <div class="tab items" data-group="primary" data-tab="items">
              <!-- riqueza -->
              <div class="resources flexrow">
                  <label for="data.wealth" class="resource-label">Nivel adquisitivo</label>
                  <input type="text" name="data.wealth" value="{{data.wealth}}" data-dtype="text"/>
              </div>
              <img class="noborder" src="systems/arrr/images/separador2.png"></img>
              <!-- equipo -->
                <ol class="items-list">
                    <li class="item flexrow item-header">
                      <div class="item-image"></div>
                      <div class="item-name">Equipo</div>
                      <div class="item-controls">
                        <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Añadir</a>
                      </div>
                    </li>
                {{#each actor.gear as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                {{/each}}
                </ol>

                <!-- armas -->
                  <ol class="items-list">
                      <li class="item flexrow item-header">
                        <div class="item-image"></div>
                        <div class="item-name">Armas</div>
                        <div class="item-controls">
                          <a class="item-control item-create" title="Create item" data-type="weapon"><i class="fas fa-plus"></i> Añadir</a>
                        </div>
                      </li>
                  {{#each actor.weapons as |item id|}}
                      <li class="item flexrow" data-item-id="{{item._id}}">
                          <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                          <h4 class="item-name">{{item.name}}</h4>
                          <h4 class="item-damage">{{item.data.damage}}</h4>
                          <div class="item-controls">
                              <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                          </div>
                      </li>
                  {{/each}}
                  </ol>

                  <!-- protecciones -->
                    <ol class="items-list">
                        <li class="item flexrow item-header">
                          <div class="item-image"></div>
                          <div class="item-name">Protecciones</div>
                          <div class="item-controls">
                            <a class="item-control item-create" title="Create item" data-type="armor"><i class="fas fa-plus"></i> Añadir</a>
                          </div>
                        </li>
                    {{#each actor.armors as |item id|}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                            <h4 class="item-name">{{item.name}}</h4>
                            <h4 class="item-protection">{{item.data.protection}}</h4>
                            <div class="item-controls">
                                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    {{/each}}
                    </ol>
            </div>

            {{!-- Owned Talents Tab --}}
            <div class="tab talents" data-group="primary" data-tab="talents">
                <ol class="items-list">
                    <li class="item flexrow item-header">
                      <div class="item-image"></div>
                      <div class="item-name">Name</div>
                      <div class="item-controls">
                        <a class="item-control item-create" title="Create item" data-type="talent"><i class="fas fa-plus"></i> Añadir</a>
                      </div>
                    </li>
                {{#each actor.talents as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                        <h4 class="item-name">{{item.name}}</h4>
                        <div class="item-controls">
                            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                {{/each}}
                </ol>

                <!-- supersticiones -->
                <label for="data.superstitions" class="resource-label">Supersticiones</label>
                  {{editor content=data.superstitions target="data.superstitions" button=true owner=owner editable=editable}}
            </div>
        </section>
      </div>
    </div>
    {{/if}}

    {{#if (eq_or actor.type "npc" "talentNpc")}}
    <div class="flexrow">
      <!-- initiative -->
      <div class="resources">
          <label for="data.initiative" class="resource-label">Iniciativa</label>
          <input type="text" name="data.initiative" value="{{data.initiative}}" data-dtype="text"/>
      </div>
      <!-- ATQ -->
      <div class="resources">
          <label for="data.ATQ" class="resource-label">ATQ</label>
          <input type="text" name="data.ATQ" value="{{data.ATQ}}" data-dtype="text"/>
      </div>
      <!-- Damage -->
      <div class="resources">
          <label for="data.damage" class="resource-label">Daño</label>
          <input type="text" name="data.damage" value="{{data.damage}}" data-dtype="text"/>
      </div>
      <!-- DEF -->
      <div class="resources">
          <label for="data.DEF" class="resource-label">DEF</label>
          <input type="text" name="data.DEF" value="{{data.DEF}}" data-dtype="text"/>
      </div>
    </div>
    <div class="flexrow">
      <!-- mainAttributes -->
      <div class="resources">
          <label for="data.mainAttributes" class="resource-label">Atributos principales</label>
          <input type="text" name="data.mainAttributes" value="{{data.mainAttributes}}" data-dtype="text"/>
      </div>
      <!-- mainHabilities -->
      <div class="resources">
          <label for="data.mainHabilities" class="resource-label">Habilidades principales</label>
          <input type="text" name="data.mainHabilities" value="{{data.mainHabilities}}" data-dtype="text"/>
      </div>
    </div>
    <div class="flexcol">
      {{#if (eq actor.type "talentNpc")}}
      <!-- talento -->
      <label for="data.talents" class="resource-label">Talento</label>
      <input type="text" name="data.talents" value="{{data.talents}}" data-dtype="text"/>
      {{/if}}
      <!-- descripcion -->
      <label for="data.description" class="resource-label">Descripción</label>
      <input type="text" name="data.description" value="{{data.description}}" data-dtype="text"/>
    </div>
    {{/if}}

</form>
