.item-form {
  font-family: $font-primary;
}

.sheet-header {
  flex: 0 0 145px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
  }

  .header-separator {
    height: 10px;
  }

  .header-fields {
    flex: 1;
  }

  h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

nav.sheet-tabs {
  flex: 0;
  border-top: none;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 80%;
}

.sheet-body {
  padding-left: 5px;
}

.background, .weaknesses {
  height: 50%;
}

.tox.tox-tinymce {
    min-height: 100%;
}

.editor {
    height: 100%;
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

.habilitiesCol {
  padding-top: 20px;
  max-height: 240px;
}

.width70percent {
  min-width: 70%;
}

.ro-cw-90 {
  transform: rotate(90deg)
}

.vertical-separator {
  flex: none;
  height: 250px;
  width: 10px;
}
