.resource-label {
  font-family: $font-primary;
  font-size: large;
}

.resources, .ability {
  input {
    font-family: $font-secondary;
    font-size: large;
  }
}

.abilities {
  max-height: 90px;
}

.ability {
  height: 80px;
  text-align: center;
}

.ability-mod {
  padding-top: 6px;
  font-size: large;
}

.hability label {
  font-size: large;
}
.hability input {
  width: 50px;
}
