<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Descripcion</a>
        <a class="item" data-tab="attributes">Atributos</a>
        <a class="item" data-tab="crew">Tripulación</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab" data-group="primary" data-tab="attributes">
          <div class="grid grid-3col">
            {{#each data.attributes as |attribute key|}}
            <div class="resources flex-group-center">
              <label for="data.attributes.{{key}}.value" class="resource-label resource-attribute-label">{{key}}</label>
              <input type="text" name="data.attributes.{{key}}.value" value="{{attribute.value}}" data-dtype="text"/>
            </div>
            {{/each}}
            <div class="resources flex-group-center">
              <label for="data.endurance.value" class="resource-label">Aguante</label>
              <div class="resource-content flexrow flex-center flex-between">
                <input type="text" name="data.endurance.value" value="{{data.endurance.value}}" data-dtype="Number"/>
                <span> / </span>
                <input type="text" name="data.endurance.max" value="{{data.endurance.max}}" data-dtype="Number"/>
              </div>
            </div>
          </div>
        </div>

        {{!-- Crew Tab --}}
        <div class="tab" data-group="primary" data-tab="crew">
          <div class="grid grid-3col">
          {{#each data.crew as |position key|}}
            <div class="resources flex-group-center">
              <label for="data.crew.{{key}}.value" class="resource-label resource-position-label">{{key}}</label>
              <input type="text" name="data.crew.{{key}}.value" value="{{position.value}}" data-dtype="text"/>
            </div>
          {{/each}}
          </div>
          <label for="data.notas" class="resource-label">Notas</label>
          <input type="text" name="data.notas" value="{{data.notas}}" data-dtype="text"/>
        </div>
    </section>
</form>
